.cocktails-listing-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
}

.cocktail-filter-container {
  display: flex;
  justify-content: flex-end;
  height: 5rem;
  margin-bottom: 0.5rem;
}
