.header {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
  height: 5rem;
  background-color: $cyan !important;

  .header-name {
    font-size: 2.5rem;
    padding-left: 0.5rem;
  }

  .header-toolbar {
    padding: 0;

    .header-menu-item {
      font-size: 1.5rem !important;
    }
  }

  .active-item {
    @extend .header-menu-item;
    color: $selected-header-item;
  }

  .active-item-contract {
    @extend .header-menu-item;
    color: $selected-header-contract;
  }
}
